{
 "swagger": "2.0"
,"info": {
    "title": "U.S. EPA Enforcement and Compliance History Online (ECHO) - All Data"
   ,"description": "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use.  ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.\n   ECHO Rest Services provide multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated as Clean Air Act (CAA) stationary sources, Clean Water Act (CWA) dischargers, Resource Conservation and Recovery Act (RCRA) hazardous waste generators\/handlers, and Safe Drinking Water Act (SDWA) public water systems.  Data of interest from other EPA sources, such as the Toxics Release Inventory, is also supplied for context.  \n \nThe get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.\n    The get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.\n \nThe recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:\n \n <b>1)<\/b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.\n <b>2)<\/b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.\n <b>3)<\/b>  Use get_map, with the returned QID, to zoom in\/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.\n <b>4)<\/b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.\n \n \nUse the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. \n \nAdditional ECHO Resources:   <a href=\"https:\/\/echo.epa.gov\/tools\/web-services\">Web Services<\/a>, <a href=\"https:\/\/echo.epa.gov\/resources\/echo-data\/about-the-data\">About ECHO's Data<\/a>, <a href=\"https:\/\/echo.epa.gov\/tools\/data-downloads\">Data Downloads<\/a>\n "
   ,"contact": {
       "name": "U.S. EPA, OECA Integration, Targeting and Access Branch"
      ,"url": "https:\/\/echo.epa.gov\/resources\/general-info\/contact-us"
   }
   ,"license": {
       "name": "U.S. Public Domain License"
      ,"url": "https:\/\/edg.epa.gov\/EPA_Data_License.html"
   }
   ,"version": "2019.10.15"
}
,"host": "echodata.epa.gov"
,"basePath": "\/echo"
,"schemes": [
    "https"
]
,"consumes": [
    "application\/x-www-form-urlencoded"
]
,"produces": [
    "application\/json"
   ,"application\/xml"
]
,"parameters": {
    "q.p_naa": {
       "name": "p_naa"
      ,"in": "query"
      ,"description": "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_med": {
       "name": "p_med"
      ,"in": "formData"
      ,"description": "Filter Results by Media.- A = Air- C = CAMD (Clean Air Markets Division)- E = EIS (Emissions Inventory Systems)- G = GHG (Greenhouse Gases)- M = RMP (Risk Management Plan)- R = RCRA (Hazardous Waste)- S = SDWA (Public Drinking Water Systems)- T = TRI (Toxic Release Inventory)- TSCA = TSCA (Toxic Substances Control Act)- W = Water- ALL = Air and Water and RCRA"
      ,"enum": [
          "A"
         ,"C"
         ,"E"
         ,"G"
         ,"M"
         ,"R"
         ,"S"
         ,"T"
         ,"TSCA"
         ,"W"
         ,"ALL"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_med": {
       "name": "p_med"
      ,"in": "query"
      ,"description": "Filter Results by Media.- A = Air- C = CAMD (Clean Air Markets Division)- E = EIS (Emissions Inventory Systems)- G = GHG (Greenhouse Gases)- M = RMP (Risk Management Plan)- R = RCRA (Hazardous Waste)- S = SDWA (Public Drinking Water Systems)- T = TRI (Toxic Release Inventory)- TSCA = TSCA (Toxic Substances Control Act)- W = Water- ALL = Air and Water and RCRA"
      ,"enum": [
          "A"
         ,"C"
         ,"E"
         ,"G"
         ,"M"
         ,"R"
         ,"S"
         ,"T"
         ,"TSCA"
         ,"W"
         ,"ALL"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_naa": {
       "name": "p_naa"
      ,"in": "formData"
      ,"description": "Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_id": {
       "name": "p_id"
      ,"in": "query"
      ,"description": "Identifier for the service."
      ,"type": "string"
      ,"required": true
   }
   ,"f.p_id": {
       "name": "p_id"
      ,"in": "formData"
      ,"description": "Identifier for the service."
      ,"type": "string"
      ,"required": true
   }
   ,"q.p_fn": {
       "name": "p_fn"
      ,"in": "query"
      ,"description": "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fn": {
       "name": "p_fn"
      ,"in": "formData"
      ,"description": "Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers."
      ,"type": "string"
      ,"required": false
   }
   ,"q.callback": {
       "name": "callback"
      ,"in": "query"
      ,"description": "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
      ,"type": "string"
      ,"required": false
   }
   ,"f.callback": {
       "name": "callback"
      ,"in": "formData"
      ,"description": "JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_sa": {
       "name": "p_sa"
      ,"in": "query"
      ,"description": "Facility street address. Enter a complete or partial street address."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sa": {
       "name": "p_sa"
      ,"in": "formData"
      ,"description": "Facility street address. Enter a complete or partial street address."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_sa1": {
       "name": "p_sa1"
      ,"in": "query"
      ,"description": "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sa1": {
       "name": "p_sa1"
      ,"in": "formData"
      ,"description": "Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ct": {
       "name": "p_ct"
      ,"in": "query"
      ,"description": "Facility City Filter. Enter a single case-insensitive city name to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ct": {
       "name": "p_ct"
      ,"in": "formData"
      ,"description": "Facility City Filter. Enter a single case-insensitive city name to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_co": {
       "name": "p_co"
      ,"in": "query"
      ,"description": "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_co": {
       "name": "p_co"
      ,"in": "formData"
      ,"description": "Facility County Filter. Provide a single county name in combination with a state value provided via p_st."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fips": {
       "name": "p_fips"
      ,"in": "query"
      ,"description": "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fips": {
       "name": "p_fips"
      ,"in": "formData"
      ,"description": "FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_st": {
       "name": "p_st"
      ,"in": "query"
      ,"description": "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_st": {
       "name": "p_st"
      ,"in": "formData"
      ,"description": "Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_zip": {
       "name": "p_zip"
      ,"in": "query"
      ,"description": "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_zip": {
       "name": "p_zip"
      ,"in": "formData"
      ,"description": "5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_frs": {
       "name": "p_frs"
      ,"in": "query"
      ,"description": "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_frs": {
       "name": "p_frs"
      ,"in": "formData"
      ,"description": "Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_reg": {
       "name": "p_reg"
      ,"in": "query"
      ,"description": "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region."
      ,"enum": [
          "01"
         ,"02"
         ,"03"
         ,"04"
         ,"05"
         ,"06"
         ,"07"
         ,"08"
         ,"09"
         ,"10"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_reg": {
       "name": "p_reg"
      ,"in": "formData"
      ,"description": "EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region."
      ,"enum": [
          "01"
         ,"02"
         ,"03"
         ,"04"
         ,"05"
         ,"06"
         ,"07"
         ,"08"
         ,"09"
         ,"10"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_sic": {
       "name": "p_sic"
      ,"in": "query"
      ,"description": "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sic": {
       "name": "p_sic"
      ,"in": "formData"
      ,"description": "Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ncs": {
       "name": "p_ncs"
      ,"in": "query"
      ,"description": "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ncs": {
       "name": "p_ncs"
      ,"in": "formData"
      ,"description": "North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_pen": {
       "name": "p_pen"
      ,"in": "query"
      ,"description": "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_pen": {
       "name": "p_pen"
      ,"in": "formData"
      ,"description": "Last Penality Date Qualifier Filter.  Enter one of the following:   \n- NEVER = No Penalties\n- ANY = Any Penalty\n- LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. \"LE5\" for a facility with a penalty within previous 5 months.\n- GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago."
      ,"type": "string"
      ,"required": false
   }
   ,"q.xmin": {
       "name": "xmin"
      ,"in": "query"
      ,"description": "Minimum longitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.xmin": {
       "name": "xmin"
      ,"in": "formData"
      ,"description": "Minimum longitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.ymin": {
       "name": "ymin"
      ,"in": "query"
      ,"description": "Minimum latitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.ymin": {
       "name": "ymin"
      ,"in": "formData"
      ,"description": "Minimum latitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.xmax": {
       "name": "xmax"
      ,"in": "query"
      ,"description": "Maximum longitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.xmax": {
       "name": "xmax"
      ,"in": "formData"
      ,"description": "Maximum longitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.ymax": {
       "name": "ymax"
      ,"in": "query"
      ,"description": "Maximum latitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_usmex": {
       "name": "p_usmex"
      ,"in": "formData"
      ,"description": "US-Mexico Border Flag.  Enter Y\/N to restrict searches to facilities located within 100KM of the border."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_usmex": {
       "name": "p_usmex"
      ,"in": "query"
      ,"description": "US-Mexico Border Flag.  Enter Y\/N to restrict searches to facilities located within 100KM of the border."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.ymax": {
       "name": "ymax"
      ,"in": "formData"
      ,"description": "Maximum latitude value in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_uscan": {
       "name": "p_uscan"
      ,"in": "query"
      ,"description": "US-Canada Border Flag.  Enter Y\/N to restrict searches to facilities located within 100KM of the border."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_uscan": {
       "name": "p_uscan"
      ,"in": "formData"
      ,"description": "US-Canada Border Flag.  Enter Y\/N to restrict searches to facilities located within 100KM of the border."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_cs": {
       "name": "p_cs"
      ,"in": "query"
      ,"description": "Facility Compliance Limiter.  Enter 2, 3 or 4 to limit facilities returned.\n- 2 = Facilities in noncompliance.\n- 3 = Facilities having one or more programs reporting significant noncompliance.\n- 4 = Facilities having more than one program reporting significant noncompliance."
      ,"enum": [
          "2"
         ,"3"
         ,"4"
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_cs": {
       "name": "p_cs"
      ,"in": "formData"
      ,"description": "Facility Compliance Limiter.  Enter 2, 3 or 4 to limit facilities returned.\n- 2 = Facilities in noncompliance.\n- 3 = Facilities having one or more programs reporting significant noncompliance.\n- 4 = Facilities having more than one program reporting significant noncompliance."
      ,"enum": [
          "2"
         ,"3"
         ,"4"
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_sic2": {
       "name": "p_sic2"
      ,"in": "query"
      ,"description": "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sic2": {
       "name": "p_sic2"
      ,"in": "formData"
      ,"description": "Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing \"22\" to match all SIC codes beginning with 22.  Use the \"%\" character within strings to match any SIC values with the pattern.  For example, \"2%21\" matches 2021, 2121, 2221, etc."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_sic4": {
       "name": "p_sic4"
      ,"in": "query"
      ,"description": "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sic4": {
       "name": "p_sic4"
      ,"in": "formData"
      ,"description": "Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fa": {
       "name": "p_fa"
      ,"in": "query"
      ,"description": "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fa": {
       "name": "p_fa"
      ,"in": "formData"
      ,"description": "Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_act": {
       "name": "p_act"
      ,"in": "query"
      ,"description": "Active Permits\/Facilities Flag.  Provide Y or N to filter results to facilities with active permits."
      ,"enum": [
          "Y"
         ,"N"
         ,"A"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_act": {
       "name": "p_act"
      ,"in": "formData"
      ,"description": "Active Permits\/Facilities Flag.  Provide Y or N to filter results to facilities with active permits."
      ,"enum": [
          "Y"
         ,"N"
         ,"A"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ff": {
       "name": "p_ff"
      ,"in": "query"
      ,"description": "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities."
      ,"enum": [
          "Y"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ff": {
       "name": "p_ff"
      ,"in": "formData"
      ,"description": "Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities."
      ,"enum": [
          "Y"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_qs": {
       "name": "p_qs"
      ,"in": "query"
      ,"description": "Quick Search. Allows entry for city, state, and\/or zip code."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_maj": {
       "name": "p_maj"
      ,"in": "formData"
      ,"description": "Major Facility Flag.  Enter Y to restrict results to Major facilities only."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_maj": {
       "name": "p_maj"
      ,"in": "query"
      ,"description": "Major Facility Flag.  Enter Y to restrict results to Major facilities only."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_qs": {
       "name": "p_qs"
      ,"in": "formData"
      ,"description": "Quick Search. Allows entry for city, state, and\/or zip code."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_sfs": {
       "name": "p_sfs"
      ,"in": "query"
      ,"description": "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_mact": {
       "name": "p_mact"
      ,"in": "formData"
      ,"description": "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_mact": {
       "name": "p_mact"
      ,"in": "query"
      ,"description": "CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_sfs": {
       "name": "p_sfs"
      ,"in": "formData"
      ,"description": "Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fea": {
       "name": "p_fea"
      ,"in": "query"
      ,"description": "Formal Enforcement Actions [within \/ not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fea": {
       "name": "p_fea"
      ,"in": "formData"
      ,"description": "Formal Enforcement Actions [within \/ not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_c1lat": {
       "name": "p_c1lat"
      ,"in": "query"
      ,"description": "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_c1lat": {
       "name": "p_c1lat"
      ,"in": "formData"
      ,"description": "In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_c1lon": {
       "name": "p_c1lon"
      ,"in": "query"
      ,"description": "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_c1lon": {
       "name": "p_c1lon"
      ,"in": "formData"
      ,"description": "In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_c2lat": {
       "name": "p_c2lat"
      ,"in": "query"
      ,"description": "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_c2lat": {
       "name": "p_c2lat"
      ,"in": "formData"
      ,"description": "In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_c2lon": {
       "name": "p_c2lon"
      ,"in": "query"
      ,"description": "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_c2lon": {
       "name": "p_c2lon"
      ,"in": "formData"
      ,"description": "In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_feay": {
       "name": "p_feay"
      ,"in": "query"
      ,"description": "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"f.queryset": {
       "name": "queryset"
      ,"in": "formData"
      ,"description": "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."
      ,"type": "number"
      ,"required": false
   }
   ,"q.queryset": {
       "name": "queryset"
      ,"in": "query"
      ,"description": "Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_feay": {
       "name": "p_feay"
      ,"in": "formData"
      ,"description": "Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_feaa": {
       "name": "p_feaa"
      ,"in": "query"
      ,"description": "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All"
      ,"enum": [
          "A"
         ,"E"
         ,"S"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.responseset": {
       "name": "responseset"
      ,"in": "formData"
      ,"description": "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."
      ,"type": "number"
      ,"required": false
   }
   ,"q.responseset": {
       "name": "responseset"
      ,"in": "query"
      ,"description": "Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_feaa": {
       "name": "p_feaa"
      ,"in": "formData"
      ,"description": "Agency associated with Formal Enforcement Actions:\n- E = EPA\n- S = State\n- A = All"
      ,"enum": [
          "A"
         ,"E"
         ,"S"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_iea": {
       "name": "p_iea"
      ,"in": "query"
      ,"description": "Informal Enforcement Actions [within \/ not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_iea": {
       "name": "p_iea"
      ,"in": "formData"
      ,"description": "Informal Enforcement Actions [within \/ not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ieay": {
       "name": "p_ieay"
      ,"in": "query"
      ,"description": "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_ieay": 
{
       "name": "p_ieay"
      ,"in": "formData"
      ,"description": "Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_ieaa": {
       "name": "p_ieaa"
      ,"in": "query"
      ,"description": "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State"
      ,"enum": [
          "E"
         ,"S"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ieaa": {
       "name": "p_ieaa"
      ,"in": "formData"
      ,"description": "Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.\n- E = EPA\n- S = State"
      ,"enum": [
          "E"
         ,"S"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_qiv": {
       "name": "p_qiv"
      ,"in": "query"
      ,"description": "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance."
      ,"enum": [
          "0"
         ,"GT1"
         ,"GT2"
         ,"GT4"
         ,"GT8"
         ,"12"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_qiv": {
       "name": "p_qiv"
      ,"in": "formData"
      ,"description": "Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.\n- Z = Zero quarters in noncompliance.\n- GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.\n- GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance."
      ,"enum": [
          "0"
         ,"GT1"
         ,"GT2"
         ,"GT4"
         ,"GT8"
         ,"12"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_impw": {
       "name": "p_impw"
      ,"in": "query"
      ,"description": "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_impw": {
       "name": "p_impw"
      ,"in": "formData"
      ,"description": "Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_trep": {
       "name": "p_trep"
      ,"in": "query"
      ,"description": "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year."
      ,"enum": [
          "CURR"
         ,"NOTCURR"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_trep": {
       "name": "p_trep"
      ,"in": "formData"
      ,"description": "Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.\n- CURR = Current TRI reporter.\n- NONCURR = Has reported to TRI in the past but not for the current reporting year."
      ,"enum": [
          "CURR"
         ,"NOTCURR"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_pm": {
       "name": "p_pm"
      ,"in": "query"
      ,"description": "Percent People of Color Limiter.  Enter a value to restrict results to facilities with a given percentage of people of color within 3-mile radius.\n- NONE = 0%\n- GTx = greater than x%\n- GTEx = greater than or equal to x%"
      ,"enum": [
          "NONE"
         ,"GT5"
         ,"GE5"
         ,"GT10"
         ,"GE10"
         ,"GT25"
         ,"GE25"
         ,"GT50"
         ,"GE50"
         ,"GT75"
         ,"GE75"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_pm": {
       "name": "p_pm"
      ,"in": "formData"
      ,"description": "Percent People of Color Limiter.  Enter a value to restrict results to facilities with a given percentage of people of color within 3-mile radius.\n- NONE = 0%\n- GTx = greater than x%\n- GTEx = greater than or equal to x%"
      ,"enum": [
          "NONE"
         ,"GT5"
         ,"GE5"
         ,"GT10"
         ,"GE10"
         ,"GT25"
         ,"GE25"
         ,"GT50"
         ,"GE50"
         ,"GT75"
         ,"GE75"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_pd": {
       "name": "p_pd"
      ,"in": "query"
      ,"description": "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile"
      ,"enum": [
          "NONE"
         ,"GT100"
         ,"GT500"
         ,"GT1000"
         ,"GT5000"
         ,"GT10000"
         ,"GT20000"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_pd": {
       "name": "p_pd"
      ,"in": "formData"
      ,"description": "Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.\n- NONE = 0 population density per square mile\n- GT100 = More than 100 population density per square mile\n- GT500 = More than 500 population density per square mile\n- GT1000 = More than 1000 population density per square mile\n- GT5000 = More than 5000 population density per square mile\n- GT10000 = More than 10000 population density per square mile\n- GT20000 = More than 20000 population density per square mile"
      ,"enum": [
          "NONE"
         ,"GT100"
         ,"GT500"
         ,"GT1000"
         ,"GT5000"
         ,"GT10000"
         ,"GT20000"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ico": {
       "name": "p_ico"
      ,"in": "query"
      ,"description": "Indian Country Flag.  Enter a Y or N to restrict searches to facilities inside or outside Indian Country."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ico": {
       "name": "p_ico"
      ,"in": "formData"
      ,"description": "Indian Country Flag.  Enter a Y or N to restrict searches to facilities inside or outside Indian Country."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_huc": {
       "name": "p_huc"
      ,"in": "query"
      ,"description": "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_huc": {
       "name": "p_huc"
      ,"in": "formData"
      ,"description": "2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_pid": {
       "name": "p_pid"
      ,"in": "query"
      ,"description": "Nine-digit permit IDs. May contain up to 2000 comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_pid": {
       "name": "p_pid"
      ,"in": "formData"
      ,"description": "Nine-digit permit IDs. May contain up to 2000 comma-separated values."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ysl": {
       "name": "p_ysl"
      ,"in": "query"
      ,"description": "Last Facility Inspection [within \/ not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
         ,"NV"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ysl": {
       "name": "p_ysl"
      ,"in": "formData"
      ,"description": "Last Facility Inspection [within \/ not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.\n- W = within date range\n- N = not within date range"
      ,"enum": [
          "W"
         ,"N"
         ,"NV"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ysly": {
       "name": "p_ysly"
      ,"in": "query"
      ,"description": "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_ysly": {
       "name": "p_ysly"
      ,"in": "formData"
      ,"description": "Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year."
      ,"enum": [
          1
         ,2
         ,3
         ,4
         ,5
      ]
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_ysla": {
       "name": "p_ysla"
      ,"in": "query"
      ,"description": "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State"
      ,"enum": [
          "E"
         ,"S"
         ,"A"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ysla": {
       "name": "p_ysla"
      ,"in": "formData"
      ,"description": "Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:\n- E = EPA\n- S = State"
      ,"enum": [
          "E"
         ,"S"
         ,"A"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_tribeid": {
       "name": "p_tribeid"
      ,"in": "query"
      ,"description": "Numeric code for tribe (or list of tribes)."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_tribeid": {
       "name": "p_tribeid"
      ,"in": "formData"
      ,"description": "Numeric code for tribe (or list of tribes)."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_tribename": {
       "name": "p_tribename"
      ,"in": "query"
      ,"description": "Tribe Name Filter.  Enter a single tribe name to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_tribename": {
       "name": "p_tribename"
      ,"in": "formData"
      ,"description": "Tribe Name Filter.  Enter a single tribe name to filter results."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_tribedist": {
       "name": "p_tribedist"
      ,"in": "query"
      ,"description": "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_tribedist": {
       "name": "p_tribedist"
      ,"in": "formData"
      ,"description": "Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_wbd": {
       "name": "p_wbd"
      ,"in": "query"
      ,"description": "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_wbd": {
       "name": "p_wbd"
      ,"in": "formData"
      ,"description": "2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fntype": {
       "name": "p_fntype"
      ,"in": "query"
      ,"description": "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
      ,"enum": [
          "ALL"
         ,"CONTAINS"
         ,"EXACT"
         ,"BEGINS"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fntype": {
       "name": "p_fntype"
      ,"in": "formData"
      ,"description": "Controls type of text search performed on facility name with parameter p_fn.\n- EXACT = Find facilities having the exact provided name(s).\n- BEGINS = Find facilities with names starting with the provided term(s).\n- ALL = Find facilities using Oracle text search terms.\n- CONTAINS = "
      ,"enum": [
          "ALL"
         ,"CONTAINS"
         ,"EXACT"
         ,"BEGINS"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_agoo": {
       "name": "p_agoo"
      ,"in": "query"
      ,"description": "Indicates whether to AND or OR the Owner\/Operator parameter (p_owop) and the federal agency code (p_fa) parameters."
      ,"enum": [
          "AND"
         ,"OR"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_agoo": {
       "name": "p_agoo"
      ,"in": "formData"
      ,"description": "Indicates whether to AND or OR the Owner\/Operator parameter (p_owop) and the federal agency code (p_fa) parameters."
      ,"enum": [
          "AND"
         ,"OR"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_ocr": {
       "name": "p_ocr"
      ,"in": "query"
      ,"description": "Toxics Release Inventory Pounds of On-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_ocr": {
       "name": "p_ocr"
      ,"in": "formData"
      ,"description": "Toxics Release Inventory Pounds of On-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_oct": {
       "name": "p_oct"
      ,"in": "query"
      ,"description": "Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases."
      ,"enum": [
          "Z"
         ,"GT0"
         ,"GT1000"
         ,"GT5000"
         ,"GT10000"
         ,"GT20000"
         ,"GT50000"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_oct": {
       "name": "p_oct"
      ,"in": "formData"
      ,"description": "Toxic Release Inventory Pounds of Off-Site Chemical Releases Limiter.  Enter a keyword to filter results.\n- Z = Zero pounds of chemical releases.\n- GT0 = More than zero pounds of chemical releases.\n- GT1000 = More than one thousand pounds of chemical releases.\n- GT5000 = More than five thousand pounds of chemical releases.\n- GT10000 = More than ten thousand pounds of chemical releases.\n- GT20000 = More than twenty thousand pounds of chemical releases.\n- GT50000 = More than fifty thousand pounds of chemical releases."
      ,"enum": [
          "Z"
         ,"GT0"
         ,"GT1000"
         ,"GT5000"
         ,"GT10000"
         ,"GT20000"
         ,"GT50000"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.tablelist": {
       "name": "tablelist"
      ,"in": "query"
      ,"description": "Table List Flag. Enter a Y to display the first page of facility results."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.tablelist": {
       "name": "tablelist"
      ,"in": "formData"
      ,"description": "Table List Flag. Enter a Y to display the first page of facility results."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.maplist": {
       "name": "maplist"
      ,"in": "query"
      ,"description": "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria)."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.maplist": {
       "name": "maplist"
      ,"in": "formData"
      ,"description": "Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria)."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.summarylist": {
       "name": "summarylist"
      ,"in": "query"
      ,"description": "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.summarylist": {
       "name": "summarylist"
      ,"in": "formData"
      ,"description": "Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.qid": {
       "name": "qid"
      ,"in": "query"
      ,"description": "Query ID Selector.  Enter the QueryID number from a previously run query."
      ,"type": "string"
      ,"required": true
   }
   ,"f.p_qid": {
       "name": "p_qid"
      ,"in": "formData"
      ,"description": "Query ID Selector.  Enter the QueryID number from a previously run query."
      ,"type": "string"
      ,"required": true
   }
   ,"q.p_qid": {
       "name": "p_qid"
      ,"in": "query"
      ,"description": "Query ID Selector.  Enter the QueryID number from a previously run query."
      ,"type": "string"
      ,"required": true
   }
   ,"f.qid": {
       "name": "qid"
      ,"in": "formData"
      ,"description": "Query ID Selector.  Enter the QueryID number from a previously run query."
      ,"type": "string"
      ,"required": true
   }
   ,"q.pageno": {
       "name": "pageno"
      ,"in": "query"
      ,"description": "Indicates the number of the page to display. It is used only when the results are paginated."
      ,"default": 1
      ,"type": "number"
      ,"required": false
   }
   ,"f.pageno": {
       "name": "pageno"
      ,"in": "formData"
      ,"description": "Indicates the number of the page to display. It is used only when the results are paginated."
      ,"default": 1
      ,"type": "number"
      ,"required": false
   }
   ,"q.newsort": {
       "name": "newsort"
      ,"in": "query"
      ,"description": "Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column."
      ,"type": "number"
      ,"required": false
   }
   ,"f.newsort": {
       "name": "newsort"
      ,"in": "formData"
      ,"description": "Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column."
      ,"type": "number"
      ,"required": false
   }
   ,"q.descending": {
       "name": "descending"
      ,"in": "query"
      ,"description": "Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.descending": {
       "name": "descending"
      ,"in": "formData"
      ,"description": "Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated."
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.c1_lat": {
       "name": "c1_lat"
      ,"in": "query"
      ,"description": "Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.c1_lat": {
       "name": "c1_lat"
      ,"in": "formData"
      ,"description": "Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.c1_long": {
       "name": "c1_long"
      ,"in": "query"
      ,"description": "Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.c1_long": {
       "name": "c1_long"
      ,"in": "formData"
      ,"description": "Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.c2_lat": {
       "name": "c2_lat"
      ,"in": "query"
      ,"description": "Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.c2_lat": {
       "name": "c2_lat"
      ,"in": "formData"
      ,"description": "Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"q.c2_long": {
       "name": "c2_long"
      ,"in": "query"
      ,"description": "Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.c2_long": {
       "name": "c2_long"
      ,"in": "formData"
      ,"description": "Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_pretty_print": {
       "name": "p_pretty_print"
      ,"in": "formData"
      ,"description": "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_pretty_print": {
       "name": "p_pretty_print"
      ,"in": "query"
      ,"description": "Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_pctlowinc": {
       "name": "p_pctlowinc"
      ,"in": "formData"
      ,"description": "Percent Low Income filter. Enter a value to restrict results to facilities with a given percentage of low income population within 3-mile radius."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_pctlowinc": {
       "name": "p_pctlowinc"
      ,"in": "query"
      ,"description": "Percent Low Income filter. Enter a value to restrict results to facilities with a given percentage of low income population within 3-mile radius."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_istatute": {
       "name": "p_istatute"
      ,"in": "formData"
      ,"description": "For use in identifying Facilities that have an inspection performed under the entered Statute."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_istatute": {
       "name": "p_istatute"
      ,"in": "query"
      ,"description": "For use in identifying Facilities that have an inspection performed under the entered Statute."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_feac_5yr": {
       "name": "p_feac_5yr"
      ,"in": "formData"
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_feac_5yr": {
       "name": "p_feac_5yr"
      ,"in": "query"
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_iea_5yr": {
       "name": "p_iea_5yr"
      ,"in": "formData"
      ,"description": "A Y value identifies facilities that have had an informal enforcement action within the last 5 years."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_iea_5yr": {
       "name": "p_iea_5yr"
      ,"in": "query"
      ,"description": "A Y value identifies facilities that have had an informal enforcement action within the last 5 years."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fea_5yr": {
       "name": "p_fea_5yr"
      ,"in": "formData"
      ,"description": "A Y value identifies facilities that have had a formal enforcement action within the last 5 years."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fea_5yr": {
       "name": "p_fea_5yr"
      ,"in": "query"
      ,"description": "A Y value identifies facilities that have had a formal enforcement action within the last 5 years."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_neiu": {
       "name": "p_neiu"
      ,"in": "formData"
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_neiu": {
       "name": "p_neiu"
      ,"in": "query"
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_feac": {
       "name": "p_feac"
      ,"in": "query"
      ,"description": "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of Y to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_feac": {
       "name": "p_feac"
      ,"in": "formData"
      ,"description": "Formal Enforcment Action Last Case Date Limiter Flag.  Enter a value of Y to additionally apply the p_feay year filter to the last formal enforcement action case date.  Use the p_fea parameter to control if the filter is within or outside the date span provided."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_fac_icos": {
       "name": "p_fac_icos"
      ,"in": "formData"
      ,"description": "FRS tribal land spatial flag.  Enter Y or N to include or exclude facilities based on FRS tribal land spatial flag."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_fac_icos": {
       "name": "p_fac_icos"
      ,"in": "query"
      ,"description": "FRS tribal land spatial flag.  Enter Y or N to include or exclude facilities based on FRS tribal land spatial flag."
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_icoo": {
       "name": "p_icoo"
      ,"in": "formData"
      ,"description": "Indian country search and\/or flag.  Enter Y to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_icoo": {
       "name": "p_icoo"
      ,"in": "query"
      ,"description": "Indian country search and\/or flag.  Enter Y to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned."
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_lat": {
       "name": "p_lat"
      ,"in": "query"
      ,"description": "Latitude location in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_limit_addr": {
       "name": "p_limit_addr"
      ,"in": "formData"
      ,"description": "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"q.p_limit_addr": {
       "name": "p_limit_addr"
      ,"in": "query"
      ,"description": "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
      ,"enum": [
          "Y"
         ,"N"
      ]
      ,"type": "string"
      ,"required": false
   }
   ,"f.p_lat": {
       "name": "p_lat"
      ,"in": "formData"
      ,"description": "Latitude location in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_long": {
       "name": "p_long"
      ,"in": "query"
      ,"description": "Longitude location in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_long": 
{
       "name": "p_long"
      ,"in": "formData"
      ,"description": "Longitude location in decimal degrees."
      ,"type": "number"
      ,"required": false
   }
   ,"q.p_radius": {
       "name": "p_radius"
      ,"in": "query"
      ,"description": "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities."
      ,"type": "number"
      ,"required": false
   }
   ,"f.p_radius": {
       "name": "p_radius"
      ,"in": "formData"
      ,"description": "Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities."
      ,"type": "number"
      ,"required": false
   }
}
,"paths": {
    "\/echo_rest_services.get_facilities": {
       "get": {
          "summary": "Combined ECHO Facility Search Service"
         ,"description": "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size"
         ,"parameters": [
             {
                "name": "output"
               ,"in": "query"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
               ,"enum": [
                   "JSONP"
                  ,"JSON"
                  ,"XML"
               ]
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/q.p_fn"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sa1"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ct"
            }
            ,{
                "$ref": "#\/parameters\/q.p_co"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fips"
            }
            ,{
                "$ref": "#\/parameters\/q.p_st"
            }
            ,{
                "$ref": "#\/parameters\/q.p_zip"
            }
            ,{
                "$ref": "#\/parameters\/q.p_frs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_reg"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ncs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pen"
            }
            ,{
                "$ref": "#\/parameters\/q.p_c1lat"
            }
            ,{
                "$ref": "#\/parameters\/q.p_c1lon"
            }
            ,{
                "$ref": "#\/parameters\/q.p_c2lat"
            }
            ,{
                "$ref": "#\/parameters\/q.p_c2lon"
            }
            ,{
                "$ref": "#\/parameters\/q.p_usmex"
            }
            ,{
                "$ref": "#\/parameters\/q.p_uscan"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic2"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic4"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ff"
            }
            ,{
                "$ref": "#\/parameters\/q.p_act"
            }
            ,{
                "$ref": "#\/parameters\/q.p_maj"
            }
            ,{
                "$ref": "#\/parameters\/q.p_mact"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fea"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feay"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feaa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feac"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_iea"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ieay"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ieaa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_iea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_cs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_qiv"
            }
            ,{
                "$ref": "#\/parameters\/q.p_naa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_impw"
            }
            ,{
                "$ref": "#\/parameters\/q.p_trep"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ocr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_oct"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pm"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pd"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ico"
            }
            ,{
                "$ref": "#\/parameters\/q.p_huc"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pid"
            }
            ,{
                "$ref": "#\/parameters\/q.p_med"
            }
            ,{
                "$ref": "#\/parameters\/q.p_istatute"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysl"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysly"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysla"
            }
            ,{
                "$ref": "#\/parameters\/q.p_qs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sfs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribeid"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribename"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribedist"
            }
            ,{
                "$ref": "#\/parameters\/q.p_wbd"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fntype"
            }
            ,{
                "$ref": "#\/parameters\/q.p_icoo"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fac_icos"
            }
            ,{
                "$ref": "#\/parameters\/q.p_limit_addr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_lat"
            }
            ,{
                "$ref": "#\/parameters\/q.p_long"
            }
            ,{
                "$ref": "#\/parameters\/q.p_radius"
            }
            ,{
                "$ref": "#\/parameters\/q.p_agoo"
            }
            ,{
                "$ref": "#\/parameters\/q.p_neiu"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pctlowinc"
            }
            ,{
                "$ref": "#\/parameters\/q.queryset"
            }
            ,{
                "$ref": "#\/parameters\/q.responseset"
            }
            ,{
                "$ref": "#\/parameters\/q.tablelist"
            }
            ,{
                "$ref": "#\/parameters\/q.maplist"
            }
            ,{
                "$ref": "#\/parameters\/q.summarylist"
            }
            ,{
                "$ref": "#\/parameters\/q.callback"
            }
            ,{
                "name": "qcolumns"
               ,"in": "query"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results are summary statistics for the query and a query identifier (QID)."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo04"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
      ,"post": {
          "summary": "Combined ECHO Facility Search Service"
         ,"description": "Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size"
         ,"parameters": [
             {
                "name": "output"
               ,"in": "formData"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
               ,"enum": [
                   "JSONP"
                  ,"JSON"
                  ,"XML"
               ]
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/f.p_fn"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sa1"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ct"
            }
            ,{
                "$ref": "#\/parameters\/f.p_co"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fips"
            }
            ,{
                "$ref": "#\/parameters\/f.p_st"
            }
            ,{
                "$ref": "#\/parameters\/f.p_zip"
            }
            ,{
                "$ref": "#\/parameters\/f.p_frs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_reg"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ncs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pen"
            }
            ,{
                "$ref": "#\/parameters\/f.p_c1lat"
            }
            ,{
                "$ref": "#\/parameters\/f.p_c1lon"
            }
            ,{
                "$ref": "#\/parameters\/f.p_c2lat"
            }
            ,{
                "$ref": "#\/parameters\/f.p_c2lon"
            }
            ,{
                "$ref": "#\/parameters\/f.p_usmex"
            }
            ,{
                "$ref": "#\/parameters\/f.p_uscan"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic2"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic4"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ff"
            }
            ,{
                "$ref": "#\/parameters\/f.p_act"
            }
            ,{
                "$ref": "#\/parameters\/f.p_maj"
            }
            ,{
                "$ref": "#\/parameters\/f.p_mact"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fea"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feay"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feaa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feac"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_iea"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ieay"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ieaa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_iea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_cs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_qiv"
            }
            ,{
                "$ref": "#\/parameters\/f.p_naa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_impw"
            }
            ,{
                "$ref": "#\/parameters\/f.p_trep"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ocr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_oct"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pm"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pd"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ico"
            }
            ,{
                "$ref": "#\/parameters\/f.p_huc"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pid"
            }
            ,{
                "$ref": "#\/parameters\/f.p_med"
            }
            ,{
                "$ref": "#\/parameters\/f.p_istatute"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysl"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysly"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysla"
            }
            ,{
                "$ref": "#\/parameters\/f.p_qs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sfs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribeid"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribename"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribedist"
            }
            ,{
                "$ref": "#\/parameters\/f.p_wbd"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fntype"
            }
            ,{
                "$ref": "#\/parameters\/f.p_icoo"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fac_icos"
            }
            ,{
                "$ref": "#\/parameters\/f.p_limit_addr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_lat"
            }
            ,{
                "$ref": "#\/parameters\/f.p_long"
            }
            ,{
                "$ref": "#\/parameters\/f.p_radius"
            }
            ,{
                "$ref": "#\/parameters\/f.p_agoo"
            }
            ,{
                "$ref": "#\/parameters\/f.p_neiu"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pctlowinc"
            }
            ,{
                "$ref": "#\/parameters\/f.queryset"
            }
            ,{
                "$ref": "#\/parameters\/f.responseset"
            }
            ,{
                "$ref": "#\/parameters\/f.tablelist"
            }
            ,{
                "$ref": "#\/parameters\/f.maplist"
            }
            ,{
                "$ref": "#\/parameters\/f.summarylist"
            }
            ,{
                "$ref": "#\/parameters\/f.callback"
            }
            ,{
                "name": "qcolumns"
               ,"in": "formData"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results are summary statistics for the query and a query identifier (QID)."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo04"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
   }
   ,"\/echo_rest_services.get_facility_info": {
       "get": {
          "summary": "Combined ECHO Facility Enhanced Search Service"
         ,"description": "Returns either an array of Facilities or an array of Clusters that meet the specified search criteria."
         ,"parameters": [
             {
                "name": "output"
               ,"in": "query"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV = Facility results formatted as comma delimited file download.\n- GEOJSON = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download."
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/q.p_fn"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sa1"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ct"
            }
            ,{
                "$ref": "#\/parameters\/q.p_co"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fips"
            }
            ,{
                "$ref": "#\/parameters\/q.p_st"
            }
            ,{
                "$ref": "#\/parameters\/q.p_zip"
            }
            ,{
                "$ref": "#\/parameters\/q.p_frs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_reg"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ncs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pen"
            }
            ,{
                "$ref": "#\/parameters\/q.xmin"
            }
            ,{
                "$ref": "#\/parameters\/q.ymin"
            }
            ,{
                "$ref": "#\/parameters\/q.xmax"
            }
            ,{
                "$ref": "#\/parameters\/q.ymax"
            }
            ,{
                "$ref": "#\/parameters\/q.p_usmex"
            }
            ,{
                "$ref": "#\/parameters\/q.p_uscan"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic2"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sic4"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ff"
            }
            ,{
                "$ref": "#\/parameters\/q.p_act"
            }
            ,{
                "$ref": "#\/parameters\/q.p_maj"
            }
            ,{
                "$ref": "#\/parameters\/q.p_mact"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fea"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feay"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feaa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feac"
            }
            ,{
                "$ref": "#\/parameters\/q.p_feac_5yr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_iea"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ieay"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ieaa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_iea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_cs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_qiv"
            }
            ,{
                "$ref": "#\/parameters\/q.p_naa"
            }
            ,{
                "$ref": "#\/parameters\/q.p_impw"
            }
            ,{
                "$ref": "#\/parameters\/q.p_trep"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ocr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_oct"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pm"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pd"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ico"
            }
            ,{
                "$ref": "#\/parameters\/q.p_huc"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pid"
            }
            ,{
                "$ref": "#\/parameters\/q.p_med"
            }
            ,{
                "$ref": "#\/parameters\/q.p_istatute"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysl"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysly"
            }
            ,{
                "$ref": "#\/parameters\/q.p_ysla"
            }
            ,{
                "$ref": "#\/parameters\/q.p_qs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_sfs"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribeid"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribename"
            }
            ,{
                "$ref": "#\/parameters\/q.p_tribedist"
            }
            ,{
                "$ref": "#\/parameters\/q.p_wbd"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fntype"
            }
            ,{
                "$ref": "#\/parameters\/q.p_icoo"
            }
            ,{
                "$ref": "#\/parameters\/q.p_fac_icos"
            }
            ,{
                "$ref": "#\/parameters\/q.p_limit_addr"
            }
            ,{
                "$ref": "#\/parameters\/q.p_lat"
            }
            ,{
                "$ref": "#\/parameters\/q.p_long"
            }
            ,{
                "$ref": "#\/parameters\/q.p_radius"
            }
            ,{
                "$ref": "#\/parameters\/q.p_agoo"
            }
            ,{
                "$ref": "#\/parameters\/q.p_neiu"
            }
            ,{
                "$ref": "#\/parameters\/q.p_pctlowinc"
            }
            ,{
                "$ref": "#\/parameters\/q.responseset"
            }
            ,{
                "$ref": "#\/parameters\/q.callback"
            }
            ,{
                "name": "qcolumns"
               ,"in": "query"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/q.p_pretty_print"
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results will either be an array of Facilities or an array of Clusters. The determination as to whether Facilities or Clusters are returned is based on the number of facilities that meet the specified criteria. Generally, if there are more than ~2000 facilities, the search will return clusters; otherwise individual facility records will be returned."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo08"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
      ,"post": {
          "summary": "Combined ECHO Facility Enhanced Search Service"
         ,"description": "Returns either an array of Facilities or an array of Clusters that meet the specified search criteria."
         ,"parameters": [
             {
                "name": "output"
               ,"in": "formData"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language.\n- CSV = Facility results formatted as comma delimited file download.\n- GEOJSON = Facility results formatted as GeoJSON feature collection.\n- GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.\n- GEOJSOND = Facility results formatted as GeoJSON feature collection download."
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/f.p_fn"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sa1"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ct"
            }
            ,{
                "$ref": "#\/parameters\/f.p_co"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fips"
            }
            ,{
                "$ref": "#\/parameters\/f.p_st"
            }
            ,{
                "$ref": "#\/parameters\/f.p_zip"
            }
            ,{
                "$ref": "#\/parameters\/f.p_frs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_reg"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ncs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pen"
            }
            ,{
                "$ref": "#\/parameters\/f.xmin"
            }
            ,{
                "$ref": "#\/parameters\/f.ymin"
            }
            ,{
                "$ref": "#\/parameters\/f.xmax"
            }
            ,{
                "$ref": "#\/parameters\/f.ymax"
            }
            ,{
                "$ref": "#\/parameters\/f.p_usmex"
            }
            ,{
                "$ref": "#\/parameters\/f.p_uscan"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic2"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sic4"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ff"
            }
            ,{
                "$ref": "#\/parameters\/f.p_act"
            }
            ,{
                "$ref": "#\/parameters\/f.p_maj"
            }
            ,{
                "$ref": "#\/parameters\/f.p_mact"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fea"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feay"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feaa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feac"
            }
            ,{
                "$ref": "#\/parameters\/f.p_feac_5yr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_iea"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ieay"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ieaa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_iea_5yr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_cs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_qiv"
            }
            ,{
                "$ref": "#\/parameters\/f.p_naa"
            }
            ,{
                "$ref": "#\/parameters\/f.p_impw"
            }
            ,{
                "$ref": "#\/parameters\/f.p_trep"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ocr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_oct"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pm"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pd"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ico"
            }
            ,{
                "$ref": "#\/parameters\/f.p_huc"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pid"
            }
            ,{
                "$ref": "#\/parameters\/f.p_med"
            }
            ,{
                "$ref": "#\/parameters\/f.p_istatute"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysl"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysly"
            }
            ,{
                "$ref": "#\/parameters\/f.p_ysla"
            }
            ,{
                "$ref": "#\/parameters\/f.p_qs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_sfs"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribeid"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribename"
            }
            ,{
                "$ref": "#\/parameters\/f.p_tribedist"
            }
            ,{
                "$ref": "#\/parameters\/f.p_wbd"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fntype"
            }
            ,{
                "$ref": "#\/parameters\/f.p_icoo"
            }
            ,{
                "$ref": "#\/parameters\/f.p_fac_icos"
            }
            ,{
                "$ref": "#\/parameters\/f.p_limit_addr"
            }
            ,{
                "$ref": "#\/parameters\/f.p_lat"
            }
            ,{
                "$ref": "#\/parameters\/f.p_long"
            }
            ,{
                "$ref": "#\/parameters\/f.p_radius"
            }
            ,{
                "$ref": "#\/parameters\/f.p_agoo"
            }
            ,{
                "$ref": "#\/parameters\/f.p_neiu"
            }
            ,{
                "$ref": "#\/parameters\/f.p_pctlowinc"
            }
            ,{
                "$ref": "#\/parameters\/f.responseset"
            }
            ,{
                "$ref": "#\/parameters\/f.callback"
            }
            ,
{
                "name": "qcolumns"
               ,"in": "formData"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/f.p_pretty_print"
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results will either be an array of Facilities or an array of Clusters. The determination as to whether Facilities or Clusters are returned is based on the number of facilities that meet the specified criteria. Generally, if there are more than ~2000 facilities, the search will return clusters; otherwise individual facility records will be returned."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo08"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
   }
   ,"\/echo_rest_services.get_qid": {
       "get": {
          "summary": "Combined ECHO Paginated Results Service"
         ,"description": "GET_QID is passed with a query ID corresponding to a previously run get_facilities query. It then returns a Facility object containing all matching facilities. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
         ,"parameters": [
             {
                "name": "output"
               ,"in": "query"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
               ,"enum": [
                   "JSONP"
                  ,"JSON"
                  ,"XML"
               ]
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/q.qid"
            }
            ,{
                "$ref": "#\/parameters\/q.pageno"
            }
            ,{
                "$ref": "#\/parameters\/q.callback"
            }
            ,{
                "$ref": "#\/parameters\/q.newsort"
            }
            ,{
                "$ref": "#\/parameters\/q.descending"
            }
            ,{
                "name": "qcolumns"
               ,"in": "query"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results are an array (page) Facility Registry System (FRS)  Facilities with the number of facilities equal to the responseset (page size)."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo11"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
      ,"post": {
          "summary": "Combined ECHO Paginated Results Service"
         ,"description": "GET_QID is passed with a query ID corresponding to a previously run get_facilities query. It then returns a Facility object containing all matching facilities. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
         ,"parameters": [
             {
                "name": "output"
               ,"in": "formData"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
               ,"enum": [
                   "JSONP"
                  ,"JSON"
                  ,"XML"
               ]
               ,"type": "string"
               ,"required": false
            }
            ,{
                "$ref": "#\/parameters\/f.qid"
            }
            ,{
                "$ref": "#\/parameters\/f.pageno"
            }
            ,{
                "$ref": "#\/parameters\/f.callback"
            }
            ,{
                "$ref": "#\/parameters\/f.newsort"
            }
            ,{
                "$ref": "#\/parameters\/f.descending"
            }
            ,{
                "name": "qcolumns"
               ,"in": "formData"
               ,"description": "Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions."
               ,"type": "string"
               ,"required": false
            }
         ]
         ,"tags": [
             "Facility Info"
         ]
         ,"responses": {
          "200": {
             "description": "Results are an array (page) Facility Registry System (FRS)  Facilities with the number of facilities equal to the responseset (page size)."
            ,"schema": {
                "type": "object"
               ,"description": "Root Object"
               ,"xml": {
                   "name": "Root"
               }
               ,"properties": {
                   "Results": {
                      "$ref": "#\/definitions\/echo11"
                  }
               }
               ,"required": [
                   "Results"
               ]
            }
         }
         }
      }
   }
   ,"\/echo_rest_services.get_map": {
       "get": {
          "summary": "Combined ECHO Map Service"
         ,"description": "The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_facilities facility query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned."
         ,"parameters": [
             {
                "name": "output"
               ,"in": "query"
               ,"description": "Output Format Flag.  Enter one of the following keywords:\n- JSON = Data model formatted as Javascript Object Notation (default).\n- JSONP = Data model formatted as Javascript Object Notation with Padding.  \n- XML = Data model formatted as Extensible Markup Language."
               ,"enum": [
                   "JSONP"
[...]
